:root {
  --card-bg-color: #fcfcfc;
  --card-title-color: #181818;
  --card-text-color: #767676;
  --card-stats-color: #181818;
  --card-button-text-color: #181818;

  --card-button-bg-color: #efefef;
  --card-button-bg-color-hover: #f5f5f5;

  --card-button-border-color: rgba(24, 24, 24, 0.03);

  --card-button-shadow:
    inset 0 2px 6px rgba(255, 255, 255, 1), inset 0 -2px 4px rgba(137, 137, 137, 0.08);
  --card-button-shadow-hover:
    inset 0 2px 4px rgba(255, 255, 255, 0.8), inset 0 -2px 2px rgba(0, 0, 0, 0.05),
    0 4px 10px rgba(0, 0, 0, 0.12);

  --card-button-shadow-active:
    inset 0 3px 6px rgba(0, 0, 0, 0.12), inset 0 -1px 2px rgba(255, 255, 255, 0.6);
}

[data-theme='dark'] {
  --card-bg-color: #2f2f2f;
  --card-title-color: #f9f9f9;
  --card-text-color: #929292;
  --card-stats-color: #f9f9f9;
  --card-button-text-color: #f9f9f9;

  --card-button-bg-color: #3a3a3a;
  --card-button-bg-color-hover: #424242;

  --card-button-border-color: rgba(255, 255, 255, 0.06);

  --card-button-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.08), inset 0 -2px 4px rgba(0, 0, 0, 0.6);
  --card-button-shadow-hover:
    inset 0 1px 2px rgba(255, 255, 255, 0.12), inset 0 -2px 3px rgba(0, 0, 0, 0.8),
    0 4px 12px rgba(0, 0, 0, 0.6);
  --card-button-shadow-active:
    inset 0 2px 4px rgba(0, 0, 0, 0.9), inset 0 -1px 2px rgba(255, 255, 255, 0.05);
}
